{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Items in the cart</h4><hr>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                    </tr>
                </thead>
                
                <tbody>
                  {% for cp in cart.cartproduct_set.all %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{cp.item}}</td>
                    <td>{{cp.rate}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.subtotal}}</td>
                    <td>
                      <a href="{% url 'pinmall:manage-cart' cp.id %}?action=inc" class="btn btn-primary"> + </a>
                      <a href="{% url 'pinmall:manage-cart' cp.id %}?action=dcr" class="btn btn-warning"> - </a>
                      <a href="{% url 'pinmall:manage-cart' cp.id %}?action=rmv" class="btn btn-danger"> x </a>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <th>Total : </th>
                    <th><strike>N</strike> {{cart.total}}</th>
                </tr>
              </tbody>
              </table>
              <section>
                <a href="{% url 'pinmall:checkout' %}" class="btn btn-secondary btn-md my-0 p">place order</a>
              </section>
        </div>

        <hr>
        <hr>

  <!--tr>    
    <div>  
          <form action="" method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <button class="btn btn-info">Make payment</button>
          </form>
          
    </div>
  </tr> 
</div>
</div>
    <br>
<div class="container">
        <div class="d-flex row justify-content-center align-items-center py-md-5 py-3">
          <div class="col-12">
            <form>
                <script src="https://checkout.flutterwave.com/v3.js"></script>
                <button type="button" onClick="makePayment()">Pay Now</button>
            </form>
            <button class="btn btn-info">PAY WITH PAYSTACK</button>
          </div>
        
</div>
    
<script>
        function makePayment() {
          FlutterwaveCheckout({
            public_key: "FLWPUBK_TEST-93008b13a2b9aeff8407243f6d7c3178-X",
            tx_ref: "{{order.ref}}",
            amount: "{{order.total}}",
            currency: "NGN",
            country: "NG",
            payment_options: "card",
            redirect_url: // specified redirect URL
                        "{% url 'pinmall:verify-payment' %}",
            customer: {
              email: "{{order.email}}",
              phone_number: "{{order.mobile}}",
              name: "{{order.oredered_by}}",
            },
            callback: function (data) {
            console.log(data);
            },
            customizations: {
              title: "Sucex pinmall",
              description: "Payment for items in cart",
              logo: "https://assets.piedpiper.com/logo.png",
            },
          });
        }
</script-->

{% endblock %}