<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Pixie - Ecommerce HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">

  </head>
<!--
Tooplate 2114 Pixie
https://www.tooplate.com/view/2114-pixie
-->
<body>
    
  <!-- Pre Header -->
  <div id="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span>Welcome to Sucex De-Tech Integrated Services</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'assets/images/header-logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <!--span class="sr-only">(current)</span-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products.html">Past Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pinmall:cart' %}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pinmall:about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pinmall:contact' %}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Single Product</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-slider">
            <div id="slider" class="flexslider">
              <ul class="slides">
                  <img src="{{ object.image.url }}" class="img-fluid" alt="">
                <!-- items mirrored twice, total of 12 -->
              </ul>
            </div>
            <div id="carousel" class="flexslider">
              <ul class="slides">
                <li>
                  <img src="{% static 'assets/images/thumb-01.jpg' %}" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-content">
            <h4>{{ object.name }}</h4>
            {% if object.discount_price %}
            <del>N{{ items.price }}</del>
            </span>
            <span>${{ object.discount_price }}</span>
            {% else %}
            <h6>N{{ object.price }}</h6>
            {% endif %}
            
            <p>{{ object.description }}</p>
            <span>{{ object.get_label_display }}</span>
            <section>
            <a href="{% url 'pinmall:detail' item.slug %}" class="btn btn-secondary btn-md my-0 p" >Add To Cart</a>
            <a href="{% url 'pinmall:cart' %}" class="btn btn-primary btn-md my-0 p">Go To Cart</a>
            <!--a href="" class="btn btn-secondary btn-md my-0 p" type="submit">Go to cart</a-->
            
            </section>
            <!--form action="" method="get">
              <label for="quantity">Quantity:</label>
              <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                onfocus="if(this.value == '1') { this.value = ''; }" 
                  onBlur="if(this.value == '') { this.value = '1';}"
                  value="1">
            </form-->
            <div class="down-content">
              <div class="categories">
                <h6>Category: <span><a href="">{{ object.get_category_display }}</a>
              </div>
              <div class="share">
                <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

