{% extends 'base.html' %}
{% load static %}
{% block content %}

<tbody>
    {% for cp in cart.cartproduct_set.all %}
    <p>Item : {{cp.item}}</p>
    <p>Price : {{cp.rate}}</p>
    <p>Quantity : {{cp.quantity}}
    <p>Subtotal : {{cp.subtotal}}</p>
</tbody>
{% endfor %}
<p>
<th>Total : </th>
<th>N{{cart.total}}</th>

<button><a href="{% url 'pinmall:cart' %}" class="btn btn-primary btn-md my-0 p" type="submit">Update cart
    <i class="fas fa-shopping-cart ml-1"></i></a></button>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-info">Make payment</button>
</form>

<!--a data-isw-payment-button data-isw-ref='E45OuL4dNg'>
    <script type='text/javascript' 
    src='https://paymentgateway.interswitchgroup.com/paymentgateway/public/js/webpay.js'  
    data-isw-trans-amount='10000'  
    data-isw-customer-ref='1573717681021'  
    data-isw-customer-callback='customCallback'>
    </script>
</a> 

<script>
    function payWithpayStack()(
        let currency = 'NGN',
        let plan = "",
        let obj = {
            key: "",
            email: "",
            amount: "{{ order.}}"
        }
    )
   // function customCallback(response){ console.log(response); } 
</script-->
{% endblock %}
